<!-- User Management page -->
<!DOCTYPE html>
<html>
<head>
<!-- Title & Icon -->
<title><%= title %></title>
<link rel="icon" href="https://i.imgur.com/nfeMkGD.png">
<% include ../elements/nav %>
<% include ../elements/meta %>
<% include ../elements/lib %>
</head>
<body>

<div class="container font-fresca">
	<!-- Purpose -->
    <h2> <%= title %> </h2>
    <hr>
    <h3> <span class="glyphicon glyphicon-paperclip"></span> 修繕日誌紀錄 </h3>
    <hr>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">處理者</th>
            <th scope="col">Date</th>
            <th scope="col">教室編號</th>
            <th scope="col">座位號碼</th>
            <th scope="col">發生問題</th>
            </tr>
        </thead>
        <tbody>
            <% for(var index in log_entry){ %>
                <tr>
                <th scope="row"><%= log_entry[index].solver_id %></th>
                <td><%= log_entry[index].date %></td>
                <td><%= log_entry[index].classroom_id %></td>
                <td><%= log_entry[index].seat_id %></td>
                <td><%= log_entry[index].problem_id %></td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <hr>
    <!-- Logger -->
    <h3> <span class="glyphicon glyphicon-paperclip"></span> 派送日誌紀錄 </h3>
    <hr>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">處理者</th>
            <th scope="col">指派日期</th>
            <th scope="col">教室</th>
            <th scope="col">派送軟體</th>
            <th scope="col">派送需求</th>
            <th scope="col">作業系統</th>
            <th scope="col">備註</th>
            <th scope="col">期望完成日期</th>
            <th scope="col">任務指派者</th>
            </tr>
        </thead>
        <tbody id="request_list">
            <% for(var index in finished_request_list){ %>
                <tr>
                <th scope="row"><%= finished_request_list[index].solver_id %></th>
                <td><%= finished_request_list[index].date %></td>
                <td><%= finished_request_list[index].classroom_id %></td>
                <td><%= finished_request_list[index].software_name %></td>
                <td><%= finished_request_list[index].type %></td>
                <td><%= finished_request_list[index].os %></td>
                <td><%= finished_request_list[index].requirements %></td>
                <td><%= finished_request_list[index].duration %></td>
                <td><%= finished_request_list[index].requester %></td>
                </tr>
            <% } %>
        </tbody>
	</table>
</div>

<!-- Footer -->
<hr>
<br>
<% include ../elements/normal_footer_bs %>
<script>

</script>

</html>