<!DOCTYPE html>
<html>
<head>
<!-- Title & Icon -->
<title><%= title %></title>
<link rel="icon" href="https://i.imgur.com/nfeMkGD.png">
<% include ../elements/nav %>
<% include ../elements/meta %>
<% include ../elements/lib %>
</head>
<body>

<div class="container font-fresca">
	<!-- Purpose -->
	<h2> <%= title %> </h2>
	<hr>
	<h3> 已登錄的待解決項目： </h3>
    <hr>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#ID</th>
            <th scope="col">Date</th>
            <th scope="col">教室編號</th>
            <th scope="col">座位號碼</th>
            <th scope="col">發生問題</th>
            </tr>
        </thead>
        <tbody id="problem_list">
            <% for(var index in error_entry){ %>
                <tr>
                <th scope="row"><%= error_entry[index].id %></th>
                <td><%= error_entry[index].date %></td>
                <td><%= error_entry[index].classroom_id %></td>
                <td><%= error_entry[index].seat_id %></td>
                <td><%= error_entry[index].problem_id %></td>
                </tr>
            <% } %>
        </tbody>
	</table>
	
	<hr>
	<h3> 請填入欲回報內容： </h3>
    <hr>
	<form id="reporter" method="GET" action="/api/v1/report">
		<div class="form-group">
			<label for="cr">教室編號:</label>
			<select class="form-control" id="classroom">
				<option selected>Choose...</option>
				<option value="65304">65304</option>
				<option value="65203">65203</option>
				<option value="Other">Other</option>
			</select>
			<br>
			<label for="problem_seat">發生問題的座位編號:</label>
			<select class="form-control" id="problem_seat">
				<option selected>Choose...</option>
				<% for(var i=0; i <= 130; i++){ %>
					<% if(i == 0){%>
						<option value="<%= i %>: 數位講桌電腦"><%= i %>: 數位講桌電腦</option>
					<% }else{%>
						<option value="<%= i %>"><%= i %></option>
				<% }} %>
			</select>
			<br>
			<label for="problem_id">問題回報類型:</label>
			<select class="form-control" id="problem_id">
				<option selected>Choose...</option>
				<% for(var index in problem_list){ %>
					<option value="<%= problem_list[index] %>"><%= problem_list[index] %></option>
				<% } %>
			</select>

			<br>
			<hr>
			
			<label id="extension-cr" for="sed" hidden>其他教室編號（請填入教室編號）:</label>
			<input id="cr" name="cr" value="" hidden> 
			<br>
			<label id="extension" for="sed" hidden>例外問題回報內容（請填入你的問題）:</label>
			<input id="pi" name="pi" value="" hidden>
			<br>
			<input id="ps" name="ps" value="" hidden>
		</div>
		
		
	<button type="submit" class="btn btn-primary center-block">Submit</button>
	</form>
	<hr>
</div>

<script>
$('select#classroom').on('change', function(e){
	console.log(this.value,
              this.options[this.selectedIndex].value,
			  $(this).find("option:selected").val(),);
	$('#cr').attr('value', this.value)

	if(this.value == "Other"){
		$('#cr').attr('class','form-control')
		$('#extension-cr').show()
		$('#cr').show()
	}
	else{
		$('#extension-cr').hide()
		$('#cr').hide()
	}
});
$('select#problem_id').on('change', function(e){
  	console.log(this.value,
              this.options[this.selectedIndex].value,
			  $(this).find("option:selected").val(),);
	$('#pi').attr('value', this.value)

	if(this.value == "Other"){
		$('#pi').attr('class','form-control')
		$('#extension').show()
		$('#pi').show()
	}
	else{
		$('#extension').hide()
		$('#pi').hide()
	}
});
$('select#problem_seat').on('change', function(e){
  	console.log(this.value,
              this.options[this.selectedIndex].value,
			  $(this).find("option:selected").val(),);
	$('#ps').attr('value', this.value)
});


$('#reporter').submit(function(e){
	if($('#cr').val() == 'Choose...' || $('#cr').val().length == 0){
		alert('請輸入 "教室編號" ！');
		e.preventDefault();
		return false;
	}
	if($('#pi').val() == 'Choose...' || $('#pi').val().length == 0){
		alert('請輸入 "發生問題的座位編號" ！');
		e.preventDefault();
		return false;
	}
	if($('#ps').val() == 'Choose...' || $('#ps').val().length == 0){
		alert('請輸入 "問題回報類型" ！');
		e.preventDefault();
		return false;
	}


})
</script>

<!-- Footer -->
<hr>
<br>
<% include ../elements/normal_footer_bs %>
</html>